* {
  box-sizing: border-box; }

body {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  font-size: 16px;
  background-color: #ffbb00; }

h1 {
  color: #fff; }

.wrapper {
  display: grid;
  grid-template-columns: 200px auto 200px; }

.page-header,
.page-footer {
  grid-column: 1 / 4; }

.page-header {
  background-color: lightgray;
  height: 20vh; }

.page-content {
  background-color: lightblue;
  grid-column: 2 / 3;
  grid-row: 2 / 3;
  height: 70vh; }

.page-footer {
  background-color: lightsalmon;
  height: 10vh; }

.page-header,
.page-content,
.page-footer {
  display: flex;
  align-items: center;
  justify-content: center; }

.pokemon-list {
  list-style-type: none;
  margin: 0;
  padding: 0; }
